*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    width: 80%;
    height: 900px;
    margin: 30px auto;
}
.titolo-logo{
    background-color: #E579E6;
    height: 9%;
}

.immagine{
    background-color:#E1D67A;
    height: 320px;
    margin-top: 20px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.bacheca{
    background-color: #0186FF;
    height: 400px;
    margin-top: 15px; 
}

.tabella-t{
    background-color: #ABCFE7;
    height: 63.50px; 
}
.tabella{
    background-color: #ABCFE7; 
    float:left;   
    margin-top: 13px;
    height: 78%;
}
.r{
    width: 23%;
   
}
.c{
   width: 50%;
   margin: 13px 2%;
}
.l{
    width: 23%
}
.autore{
    background-color: #8801FE;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    height: 70px;
}


